.navbar-container {
    position: relative;
    .header {
        background-color: white;
        color: black;

        .logo-container {
            .image-logo {
                width: 60px;
            }
            display: flex;
            align-items: center;

            .logo-content {
                line-height: 1;
                .logo-content-a {
                    font-size: 24px;
                    font-weight: 700;
                }
                .logo-content-b {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        .button-login-container {
            padding: 15px 14px;
            margin: 16px 10px;
            border: 1px solid black;
            border-radius: 10px;
            cursor: pointer;

        }

    }

    .wallet {
        position: absolute;
        // display: none;
        right: 100px;
        top: 70px;
        z-index: 4000;
    }
}