.half-rating-read {
    font-size: 200px !important;
}

.MuiRating-decimal css-34he1w-MuiRating-decimal {
   
}

.MuiRating-icon MuiRating-iconFilled css-7qmtgc-MuiRating-icon {
    
    
}

.css-7qmtgc-MuiRating-icon {
    font-size: 40px !important;
}

.css-1c99szj-MuiRating-icon {
    font-size: 40px !important;
}